@import "$CMS_REF(media:"another")$";
@import "http://example.com/example.css";

@font-face {
    font-family: myFirstFont;
    src: url("$CMS_REF(media:"sample")$");
}

.selector {
    background: url("$CMS_REF(media:"background_in_oel")$");
}
